<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Permian App" />
    <meta name="theme-color" content="#DB0000"/>
    <link rel="icon" href="./images/favicon.webp">
    <title>Permian App</title>
    <link rel="manifest" href="./app.webmanifest">
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <!-- script -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>
    <header class="header">
      <div class="main-menu">
        <div class="main-menu-inner">
          <div class="main-menu-left">
            <div class="main-menu-logo">
              <a href="/">
                <picture>
                  <source media="(max-width: 600px)" srcset="images/logo-small.jpg">
                  <img src="images/logo.jpg" 
                       alt="logo" height="100" width="100">
                </picture>
              </a>
            </div>
            <!-- main-menu-logo -->
            <div class="navigation">
              <ul class="main-menu-list list-unstyled">
                <li id="menu1">
                  <a href="/">HOME</a>
                </li>
                <li id="menu2">
                  <a id="menux" href="#/favorite">FAVORITE</a>
                </li>
                <li id="menu3">
                  <a href="https://facebook.com/disbudparkotasemarang/"
                    >ABOUT US</a
                  >
                </li>
              </ul>
            </div>
            <!-- navigation -->
          </div>
          <!-- main-menu-left -->
          <div class="main-menu-right">
            <button id="hamburger">☰</button>

            <!-- mobile-menu-button -->
          </div>
        </div>
        <!-- main-menu-inner -->
      </div>
      <!-- main-menu -->
    </header>

    <main>
      <div class="jumbotron">
        <div class="jumbotron-overlay">
          <div class="jumbotron-inner">
            <h1 class="jumbotron-title">DAFTAR RESTORAN DI INDONESIA</h1>
            <p class="jumbotron-tag">
              Mencari restoran dengan mudah di Permian App
            </p>
          </div>
        </div>
      </div>

      <div id="maincontent">
         
      </div>

      
    </main>

    <section class="footer">
      <div class="bottom-footer">
        <div class="container">
          <p>© Copyright 2023 by Adhitya</p>
        </div>
        <!-- container -->
      </div>
      <!--bottom-footer-->
    </section>
    <!--footer-->

    <div class="mobile-nav-wrapper">
      <div class="mobile-nav-overlay mobile-nav-toggler"></div>
      <!-- mobile-nav-overlay -->
      <div class="mobile-nav-content">
        <button  id="nav-close" class="mobile-nav-close mobile-nav-toggler close">
          <span></span>
          <span></span> </button><!-- mobile-nav-close -->
        <div class="mobile-nav-container"></div>
        <!-- mobile-nav-container -->
        <hr />
      </div>
      <!-- mobile-nav-content -->
    </div>
    <!--mobile-nav-wrapper-->
  </body>

  <script>
    $(document).ready(function () {
      $("#hamburger").on("click", function () {
        $(".mobile-nav-wrapper").toggleClass("expanded");
        var menu_content = $(".main-menu .navigation ul")[0].outerHTML;
        $(".mobile-nav-container").html(menu_content);
        // $(".mobile-nav-container .main-menu-list li.has-dropdown > a").append(
        //   '<button><i class="fa-solid fa-chevron-right"></i></button>'
        // );
        $(
          ".mobile-nav-container"
        ).on("click", function () {
          // alert("X");
          $(".mobile-nav-wrapper").removeClass("expanded");
          // $(".mobile-nav-wrapper").removeClass("expanded");
          // $(this).toggleClass("expanded");
          // $(this).parents("a").siblings("ul").slideToggle();
        });
      });

      $("#nav-close").on("click", function () {
        $(".mobile-nav-wrapper").removeClass("expanded");
      });
    });
       
  </script>
</html>
